# ALL
*.dev.yaml

legacy/

# for server
hugginggpt/server/models/*
!hugginggpt/server/models/download.sh
!hugginggpt/server/models/download.ps1
!hugginggpt/server/models/download_huggingface_cli.sh
hugginggpt/server/logs/
hugginggpt/server/models_dev
hugginggpt/server/public/*
!hugginggpt/server/public/examples/
hugginggpt/server/public/examples/*
!hugginggpt/server/public/examples/a.jpg
!hugginggpt/server/public/examples/b.jpg
!hugginggpt/server/public/examples/c.jpg
!hugginggpt/server/public/examples/d.jpg
!hugginggpt/server/public/examples/e.jpg
!hugginggpt/server/public/examples/f.jpg
!hugginggpt/server/public/examples/g.jpg

#environments
hugginggpt/server/env_chat
hugginggpt/server/env_models
hugginggpt/server/jarvis_env

# docker
Dockerfile
docker-compose.yml

# for gradio
# server/run_gradio.py

# for web
hugginggpt/web/node_modules
hugginggpt/web/package-lock.json
hugginggpt/web/dist
hugginggpt/web/electron-dist
hugginggpt/web/yarn.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

